<style type="text/css">
		.title{
			text-align: center;
			
		}
		.title h1 {
			text-align: center;
			color: #ff9a3b
		}
		
		.title .navigation{
		  width : 100%;
		  text-align : center;
		}
		
		
		.title .navigation li{
		  display: inline;
		  padding: 30px;
		}

		.title img{
			margin-left: auto;
			margin-right: auto;
			width: 50%;
		}
		.content{
			width: 960px
			text-align: center;
		}

		.content .column{
			width: 45%;
			margin: 2.5%;
			float: right;
		}

		#footer{
			position:absolute;
   bottom:0;
   width:98%;
   height:120px;   /* Height of the footer */
   background:#ff9a3b;
   padding: 10px;
		}
	</style>
	
<div class = "title">
		<h1>About Kai's Cube page</h1>
		<div class = "navigation">
		  <ul>
		    <li><%= link_to 'Home', root_path %></li>
		    <li><%= link_to 'About', about_path %></li>
		  </ul>
		</div>
	
	</div> <!-- end of title div -->
	<div class = "content">
		<p>Kai's Cube page is written by Kai Xiang, who is the Singapore Rubik's Cube champion.</p>
	</div> <!-- end of content div -->
	<div id = "footer">
	  <p>This is the footer</p>
		<p>Lorem ipsum dolor sit amet, pharetra viverra, eaque tellus cum nostrum diam sodales rutrum, dolor sollicitudin tellus quia, mi quisque et donec adipiscing feugiat vitae, primis sed. In quas urna orci nibh a tempor, proin ac mollis malesuada, neque lacus nulla a eros. Pede ac morbi quam, nulla neque, tortor vitae tellus, congue sit. Interdum ornare ipsum ligula vehicula wisi at. Mi wisi turpis pharetra lobortis, ut cras nam. Cras augue suspendisse neque ante aliquet ut, wisi porttitor et sit tortor augue orci, ridiculus quam venenatis. Luctus ante diam mauris sit, convallis euismod eget eleifend, tellus placerat cras. Eget dictum imperdiet donec lorem facilisis. Vivamus sed massa dolor, vestibulum sapien sem elit gravida nec vestibulum. Lacus ligula adipiscing neque, justo elit euismod lectus.
		</p>
	</div>