
<div class = "title">
		<h1>About Kai's Cube page</h1>
		<div class = "navigation">
		  <ul>
		    <li><%= link_to 'Home', root_path %></li>
		    <li><%= link_to 'About', about_path %></li>
		  </ul>
		</div>
	
	</div> <!-- end of title div -->
	<div class = "content">
		<p>Kai's Cube page is written by Kai Xiang, who is the Singapore Rubik's Cube champion.</p>
	</div> <!-- end of content div -->
