$navbar-default-bg: #1e252b  ;

@import "bootstrap-sprockets";
@import "bootstrap";


#logo{
  float:left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color: white;
  text-decoration: none;
}

.center{
  text-align:center;
}

.jumbotron{
  background-image: asset-url('new_cover_page.jpg');
  background-size: cover;
  height: 500px;
  padding: 15px;
}

.jumbotron h1{
  color: white;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron p{
  color: #eaeaea;
}

.btn-xlarge{
  font-size: 1.7em;
  background-color: #FF9A3B;
  border-color: transparent;
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover{
  color: #222;
}

footer small{
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
}